<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-background-geolocation"
    version="4.0.6">

    <name>BackgroundGeolocation</name>
    <description>The most sophisticated, battery-efficient background-geolocation and geofencing plugin for Cordova</description>
    <license>MIT</license>
    <keywords>cordova, phonegap, background geolocation, background, location, tracking, geofence, geofencing</keywords>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.0.0"/>
        <engine name="cordova-ios" version=">=4.5.0"/>
    </engines>

    <dependency id="cordova-plugin-background-fetch" version="~7.0.1" />

    <js-module src="www/js/BackgroundGeolocation.js" name="BackgroundGeolocation">
        <clobbers target="window.BackgroundGeolocation" />
    </js-module>

    <platform name="android">
    </platform>
    <platform name="ios">
    </platform>
</plugin>
